* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 14px;
}


.block {
    background: #C4C4C4;
    padding: 10px;
    margin: 10px;
    height: 150px;

}

.block:nth-child(odd) {
    width: 75%;

}

.block:nth-child(even) {
    width: 50%;
}


.block:nth-child(3) h2 {
    font-size: 24px;
}

.block:nth-child(3) h3 {
    font-size: 16px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}